QWidget {
	background-color: #30D0E5;
}

QPushButton {
	font-family: 'Helvitica';
	/*color: rgb(01,22,222);*/
	/*color: white;*/
	color: #020707;
	background-color: #3F6F75;
	font-size: 20px;
	border-radius: 5px;
	border: 2px solid black;
	padding: 20px;
	min-width: 200px;
}

QPushButton::hover {
	color: white;
	border: 2px solid white;
}

QListWidget {
	font-family: 'Sans-Serif';
	background-color: white;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	border: 3px solid black;
}

QLineEdit {
	font-family: 'Helvitica';
	background-color: 'white';
	padding: 0px;
}

QComboBox {
	background-color: white;
	color: black;
}
